*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box; 
   font-family: "work sans";
}  
header{
    background-color: black;
    padding-top: 7px;
    padding-bottom: 7px;
    
}
img{
    height : 48px ;
    display: block;
    margin: auto;

}
#top_container{
    background-image: url("https://kq-storage.s3.ap-south-1.amazonaws.com/Github/groove-bg%5B1%5D.png");
    height: 100vh; 
    background-size: 100% 100%; 
    text-align: center;
    padding-top: 15%;
}

#store-btn{

    padding: 15px;
    background-color:#27AE60 ;
    border: 0;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}
#store-btn:hover{
    cursor: pointer; 
}
a{
    text-decoration: none;
    color: white;
}

#heading{

    margin-bottom: 15px;
    font-size: 45px;
}

#para{
    font-size: large;
}

#table-heading{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
table,th,td{
    border-collapse: collapse;
    border: 2px solid lightgray;
    padding: 10px;
    text-align: center;
}
#heading-row{
    color: white;
    background-color: #27AE60;
}
.box-image{
    height: 80px;
    width: 80px;
}
table{
    margin: auto;
    margin-bottom: 50px;
}
.qty-box{
    
    width: 50px;
}
.final-sentence{
    text-align: center;
}
#mobile-box{
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px 20px;
}
#buy-btn{
    display: block;
    margin: auto;
    padding: 7px 12px;
    background-color: #27AE60;
    color: white;
    border: 0;
    font-weight: bold;
}
#thanks-msg{
    display: none;
    text-align: center;
    padding: 10px;
}
tr:hover{
    background-color: rgb(239, 228, 228);
}
footer{
    background-color: black;
    padding: 7px;
    text-align: center;
    color: white;
    margin-top: 30px;
}
